{{template "base/head" .}}
<main>
    <div class="container" id="profile-home">
        <div class="row">
            <div class="col s12">
                <div class="container" id="my-pic">
                    {{ with .profile.Picture }}
                    <img src="/imgs?iid={{.ID}}&pid={{.UploadedBy}}" alt="" class="responsive-img" id="profile-picture">
                    {{else}}
                    <img src="/static/img/sky.jpeg" alt="" class="responsive-img" id="profile-picture">
                    {{end}}
                    {{if .myProfile}}
                    <a class="btn blue waves-effect waves-light" pid="{{.ID}}" id="profile-pic"> Badili picha</a>
                    <div id="pic-preview"></div>
                    {{end}}
                </div>
            </div>
            <div class="col s12">
                {{template "snippets/profile_info" .}}
            </div>
        </div>
        {{if .myProfile}}
        <div class="row">
            <div class=" col s12">
                {{template "snippets/profile_update_form" .}}
            </div>
            <div id="preview-many" class="row"></div>
        </div>
        {{end}}
    </div>
</main>
{{if .myProfile}}
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/profile.js"></script>
{{end}}
{{template "base/footer" .}}
