{{ $gobal:=.}}
{{ with .people }}
<table class="hoverable responsive-table">
    <thead>
    <tr>
        <th data-field="id"> <i class="mdi-content-add"></i></th>
        <th data-field="name"><i class="mdi-content-add"></i></th>
    </tr>
    </thead>
    <tbody>
    {{ range .}}
    <tr>
        <td>
            <div class="card-panel">
                <h5>
                    <span>{{ .FirstName }} </span>
                    <span>{{ .LastName }}</span>
                </h5>
            </div>
        </td>
        <td>
            <a class="btn waves-effect waves-light"
               href="/profile?view=true&id={{.ID}}&all=false">
                <span>angalia</span>
            </a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}