{{ $gobal:=.}}
{{ with .people }}
<table class="hoverable ">
    {{ range .}}
    <tr>
        <td>
            <span>my pic</span>
        </td>
        <td>
            <div class="card-panel">
                <h5>
                    <span>{{ .FirstName }} </span>
                    <span>{{ .LastName }}</span>
                </h5>
            </div>
        </td>
        <td>
            <a class="btn right"
               href="/profile?view=true&id={{.ID}}&all=false&off={{.ID}}">
                <span>angalia</span>
            </a>
        </td>
    </tr>
    {{end}}
</table>
{{end}}