<div class="section white" id="pitch">

    <div class="row container">
        <div class="col s12 m5">
            <div class="card red">
                <div class="card-content">
                    <h1 class="center-align">aurora</h1>
                </div>
                <div class="card-action">
                    <a href="/auth/register" class="btn block blue btn-large black-text">angalia</a>
                </div>
            </div>
        </div>
        <!--<div class="col s12 m6">-->
            <!--<ul class="collection with-header">-->
                <!--<li class="collection-header"><h4>Tunatumia teknolojia</h4></li>-->
                <!--<li class="collection-item">kupambana na umasikini</li>-->
                <!--<li class="collection-item">kupambana na ukosefu wa ajira</li>-->
                <!--<li class="collection-item">kusaidia maendeleo ya viwanda</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>

</div>
<div class="parallax-container">
    <div class="parallax"><img src="/static/img/sky.jpeg"></div>
</div>