{{with .profile}}
<div class="container">
    <h4 class="pavement center-align ">badili habari zangu</h4>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">jina la kwanza</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">jina la mwisho</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">tarehe ya kuzaliwa</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select class="browser-default">
                        <option value="" >Chagua jinsia</option>
                        <option value="1">mwanaume</option>
                        <option value="2">mwanamke</option>
                        <option value="3">zombie</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">jiji</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Nchi</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Mtaa</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Tuma
                <i class="mdi-content-send right"></i>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="pavement" id="gallery-upload">
            <div class="container">
                <ul>
                    <li><a class="btn blue" pid="{{.ID}}" id="pandisha-kibao">Pandisha picha zangu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="preview-container"></div>
    </div>
</div>
{{template "snippets/profile_pic_upload" .}}
{{end}}