<div class="up-section">
    <div class="progress up-progress">
        <div class="indeterminate"></div>
    </div>
    <div class="up-message"></div>
    <!-- begin registration form-->
    <form class="col s12 up-form" method="post"
          action="/profile/update/{{.user.ID}}">
        <div class="row">
            <label for="gender">Gender</label>
            <select id="gender" class="browser-default" name="Gender">
                <option value="" disabled selected>Choose
                    your gender
                </option>
                <option value="male">Male</option>
                <option value="2">Female</option>
                <option value="3">Tranny</option>
            </select>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="birth" type="date"
                       class="validate" name="BirthDate"
                       >
                <label for="birth" data-error="wrong"
                       data-success="right">
                    Birth Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="height" type="number" class="validate"
                       name="Height" >
                <label for="height" data-error="wrong"
                       data-success="right">Height</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="city" type="text" class="validate"
                       name="City" >
                <label for="city" data-error="wrong"
                       data-success="right">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="country" type="text" class="validate"
                       name="Country" >
                <label for="country" data-error="wrong"
                       data-success="right">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="street" type="text" class="validate"
                       name="Street" >
                <label for="street" data-error="wrong"
                       data-success="right">Street</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit"
                >Submit
            <i class="mdi-content-send right"></i>
        </button>
    </form>
</div>