<div class="update-section">
    <!-- begin registration form-->
    <form class="col s12" method="post" action="/profile/update/{{.user.ID}}">
        <div class="row">
            <label for="gender">Gender</label>
            <select id="gender" class="browser-default" name="Gender">
                <option value="" disabled selected>Choose
                    your gender
                </option>
                <option value="male">Male</option>
                <option value="2">Female</option>
                <option value="3">Tranny</option>
            </select>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="birth" type="date"
                       class="validate" name="BirthDate"
                       required>
                <label for="birth" data-error="wrong"
                       data-success="right">
                    Birth Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="height" type="number" class="validate"
                       name="Height" required>
                <label for="height" data-error="wrong"
                       data-success="right">Height</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="weight" type="number" class="validate"
                       name="weight" required>
                <label for="height" data-error="wrong"
                       data-success="right">Weight</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="city" type="text" class="validate"
                       name="City" required>
                <label for="city" data-error="wrong"
                       data-success="right">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="country" type="text" class="validate"
                       name="Country" required>
                <label for="country" data-error="wrong"
                       data-success="right">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="street" type="text" class="validate"
                       name="Street" required>
                <label for="street" data-error="wrong"
                       data-success="right">Street</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit"
                >Submit
            <i class="mdi-content-send right"></i>
        </button>
    </form>
</div>