{{template "base/head" .}}
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Best in East Africa</span>
                        <p>We are the best online dating site in east africa
                        you can prove it yourself. Join us today</p>
                    </div>
                    <div class="card-action">
                        <a href="#">try now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Meet your future
                                wife or husband</span>
                            <p>We use artificial intelligence to find your
                                possible future husband or wife.</p>
                            <p>However you can also find them by youself.
                                If you want to find a date, you should
                                better start now.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Find a husband</a>
                            <a href='#'>Find a wife</a>
                            <a href='#'>Find a date</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{template "base/footer" .}}
